.footer-section {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-section .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
    color: #4d5ae5;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
    line-height: 1.5;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link svg {
    fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 80px;
}

.subscribe-text {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.footer-logo-thumb {
    margin-right: 120px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    gap: 16px;
}